/*-----------------------------------------------------------*/
/* GRID DA PAGINA */

.footer { background-color: lightgreen; }
 
.grid-container{
	display: grid;
	grid-template-columns: 10px repeat(10,1fr) 10px;
	
	grid-template-rows: 76px 80vh repeat(4,auto) 230px;
	
	grid-gap: 0px;
	height: 100%;
}

/*define a largura de 100% de todas as seções*/
.header, .slide, .about-header, .about, 
.footer {
	grid-column: 1 / -1;
}

/*define a posição de cada seção nas linhas*/
.header {grid-row: 1 / span 1;}
.slide {grid-row: 2/span 1;}
.about-header {grid-row: 3 / span 1;}
.about {grid-row: 4 / span 1;}
.footer {grid-row: 7 / span 1;}

/*elementos sem margem, são 100% width*/
.full-wide{
	grid-column: 1 / -1;
}


	

