/***********************************************************************************

NORMALIZACAO

*************************************************************************************/

*, *:after, *:before {	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

img{ max-width: 100%; }

body{
	overflow: scroll
}

/***********************************************************************************

MOBILE FIRST

*************************************************************************************/

main{
	margin-top: 5%;
	margin-bottom: 6%;
}

.container {
	width: 100%;
	//display: flex;
	//flex-direction: column;		// faz com que as divs dentro do container fiquem embaixo uma da outra
	//justify-content: center;	// alinha os itens blocos verticalmente dentro dos containers
	//align-items: center;		// alinha os itens blocos horizontalmente dentro dos containers
	text-align: center;
}

.logo-total{ 
	width: 170px; 
	margin: auto;
	text-align: center;
	//margin-bottom: 20px;
}

.txt-manutencao {
	margin: 50px 0;
}

.botao {
	width: 250px;
	margin: 10px 0;
}

.menu-social {
	width: 100%;
 	
 	& ul li {
	display: inline;
	margin: 0 3%;
	}
}

.botao-social{
	width: 10%;
	max-width: 40px;
	margin-bottom: 20px;
}

footer{
	margin-top: 20px;
	
}


/***********************************************************************************

MEDIA QUERIES

*************************************************************************************/

@media screen and (min-width: 800px){
	.logo-topo{
		display: inline;
		margin-top: 2%;
	}
}